<header class="bg-primary p-3 display-6 tex-white">Playground</header>
<main>
    <div class="container-fluid" style="height: calc(100vh - 80px);">
      <div class="row" style="height: 100%;">
        <div class="col-md-2 p-0">
          <section class="bg-secondary" style="height: 100%;">
              @for(item of topics; track item.label){
              <app-card [topic]="item" />
              }
          </section>
        </div>
        <div class="col-md-10 p-0">
            <div class="p-3">
                <router-outlet />
            </div>
        </div>
      </div>
    </div>
    
</main>